# Gitea.
version: '3'
services:
  gitea:
#    image: gitea/gitea:latest
    image: gitea/gitea:1.13.2
    ports:
      - "3000:3000"
      - "3022:22"
    volumes:
#      - /etc/timezone:/etc/timezone:ro
#      - /etc/localtime:/etc/localtime:ro
      - ./data:/data:rw
    restart: always
    networks:
      - gitea

networks:
  gitea:
    external: false
